.colors {
    --Size: 1.5rem;
    --Gap: 0.2rem;
    position: absolute;
    left: calc(50% - var(--BaseWidth) / 2);
    right: calc(50% - var(--BaseWidth) / 2);
    margin-top: var(--Gap);
    opacity: 0.7;
    pointer-events: none;
}

.colors.available {
    opacity: 1;
    pointer-events: auto;
}

.color {
    display: inline-block;
    width: var(--Size);
    height: var(--Size);
    border-radius: 50%;
    margin: 0 var(--Gap) var(--Gap) 0;
}
