.container {
    --Width: var(--BaseWidth);
    margin: 2rem auto;
}

@media (min-width: 380px) {
    .container {
        --Width: 300px;
    }
}

.table {
    width: var(--MatrixWidth);
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    justify-content: center;
    counter-reset: cell -1;
}

.cell {
    counter-increment: cell;
    width: 100%;
    height: 100%;
    background-color: var(--Black);
    outline: solid 1px var(--White);
}

.cellNumber>.cell::before {
    content: counter(cell);
    opacity: 0.5;
}

.cell.filled {
    color: var(--Black);
    background-color: var(--White);
}
