.container {
    --ColumnWidth: calc(var(--BaseWidth) / 3 - var(--Gap) * 2);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, var(--ColumnWidth));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    column-gap: calc(var(--Gap) * 2);
    row-gap: var(--Gap);
    justify-content: center;
    align-items: end;
    margin: 1rem auto 2rem auto;
}

.label {
    font-size: var(--SmallFontSize);
    opacity: 0.7;
}
