.container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin: 0.3rem 0;
}

.button {
    --Size: 1.2rem;
    width: var(--Size);
    height: var(--Size);
    border: 1px solid currentColor;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.1s;
}

.button:hover {
    opacity: 1;
}

.button>svg {
    width: 100%;
    height: 100%;
    stroke: currentColor;
}
