.container {
    padding: var(--Margin) 0;
    max-height: 20rem;
    margin: 0;
    padding: var(--Margin);
    overflow: auto;
    border-top: 1px solid currentColor;
    white-space: pre;
    font-family: monospace;
}
