.container {
    z-index: 1;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    column-gap: var(--Gap);
    justify-content: center;
    padding: var(--Gap);
    margin: 1rem auto;
    background-color: var(--BackgroundColor);
    box-shadow: 0 0 1px var(--ForegroundColor);
}

.svg {
    grid-column: 1 / 3;
    max-width: 100%;
    margin: 0 auto var(--Gap) auto;
}

.play {
    grid-row: 2 / 4;
    font-size: var(--SmallFontSize);
    padding: var(--Gap);
}

.button {
    border: 1px solid var(--ForegroundColor);
    border-radius: var(--ButtonRadius);
}

.scale {
    display: inline-block;
    --Size: 1rem;
    width: var(--Size);
    height: var(--Size);
    margin: 0 0.2rem;
    stroke: var(--ForegroundColor);
}

.label {
    display: flex;
    align-items: center;
    font-size: var(--SmallFontSize);
    white-space: pre-wrap;
    opacity: 0.7;
    font-variant-numeric: tabular-nums;
}

.seek {
    background-image: linear-gradient(0deg, var(--ForegroundColor), var(--ForegroundColor));
    background-size: 100% 2px;
}

.frame {
    text-align: right;
    width: 3rem;
}