.buttons {
    height: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content)) 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: var(--Gap);
    align-items: center;
    font-size: var(--SmallFontSize);
}

.buttons>.button {
    height: 100%;
    grid-row: 1 / 3;
}

.button {
    padding: var(--Gap);
    white-space: pre-wrap;
    border: 1px solid var(--ForegroundColor);
    border-radius: var(--ButtonRadius);
}

.delete {
    color: var(--White);
    background-color: var(--Red);
    border: none;
}

.rowButtons {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    column-gap: var(--Gap);
    justify-content: start;
}

.label {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    column-gap: var(--Gap);
    align-items: end;
    font-size: var(--SmallFontSize);
    opacity: 0.7;
}

.input {
    width: 100%;
    min-width: 0;
    height: 100%;
    margin-bottom: -0.08em;
}

.input[type=range] {
    background-image: linear-gradient(
        90deg,
        hsl(220, 100%, 50%),
        hsl(310, 100%, 50%),
        hsl(40, 100%, 50%),
        hsl(130, 100%, 50%),
        hsl(220, 100%, 50%)
    );
}

.frameColor {
    grid-column: 3 / 5;
}

.frameColor.label {
    grid-row: 2 / 3;
}

.frameColor.input {
    grid-row: 3 / 4;
}
