.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem var(--Margin);
}

.container>* {
    margin-right: var(--Margin);
}

.container>:last-child {
    margin-right: 0;
}

.options {
    display: grid;
    grid-template-columns: 1fr;
}

.options>* {
    height: 1.4rem;
}

.select>option {
    color: var(--Black);
}

.reset {
    padding: 0.25rem 1rem;
    border: solid 1px currentColor;
    border-radius: 3px;
}
