:root {
    --Cyan: #099399;
    --Orange: #E75421;
    --Green: #3E9753;
    --White: #EFEFF5;
    --Black: #1a1d10;
    --Red: rgb(172,21,20);
    --WindowColor: #3a2828;
    --SmallFontSize: 0.8rem;
    --Gap: calc(var(--BaseWidth) * 0.01);
    --ButtonRadius: 0.2rem;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h1, h2, p, summary {
    width: var(--BaseWidth);
}

h1, h2 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
}

summary {
    margin: 1rem auto;
}

svg[title="Preview"] {
    width: var(--BaseWidth);
    margin: 1rem auto;
    background-color: var(--WindowColor);
    fill: var(--White);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
    padding: 2rem 0;
}
