.svg {
    position: absolute;
    left: calc(50% - var(--MatrixWidth) / 2);
    top: 0;
    width: var(--MatrixWidth);
    height: 100%;
    pointer-events: none;
}

.marker {
    fill: var(--Orange);
}

.path {
    fill: none;
    stroke: var(--Orange);
}
